* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial black;
}
body {
    margin: 0;
    padding: 0;
}
/* *********Home Section*******/
.landing {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("../img/cover4.jpg");
    background-size: cover;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 1px 3px 8px rgba(0, 0, 0, .3);
    -moz-box-shadow: 1px 3px 8px rgba(0, 0, 0, .3);
    overflow: hidden;

}
.landing .clipped .intro h1{
    font-size: 35px;


}

.clipped {
    width: 100%;
    height: 100vh;
    background-color: gold;
    position: absolute;
    clip-path: polygon(0 0, 40% 0%, 70% 100%, 0% 100%, 75% 100%, 0 100%, 0% 75%);
    overflow: hidden;
}

.clipped .intro {
    position: absolute;
    top: 50%;
    left: 20%;
    opacity: 0.90;
    -webkit-transform: translate(-20%, -50%);
    -moz-transform: translate(-20%, -50%);
    -ms-transform: translate(-20%, -50%);
    -o-transform: translate(-20%, -50%);
    transform: translate(-20%, -50%);
    font-size: 10px;
}
#main {
    height: 100vh;
    width: 100%;
    position: fixed;
    display: none;
}
#LogoSection {
    height: 100%;
    width: 50%;
    background-color: gold;
    box-shadow: 10px 0px 30px rgba(0,0,0,.4);
    position: absolute;
    z-index: 999;
}
#LogoSection img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#menuSection {
    height: 100%;
    width: 50%;
    background-color: #f1f1f1;
    position: absolute;
    left: 50%;
}
#menuSection ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 30%;
    left: -1%;
}
#menuSection ul li{
    height: 100px;
    width: 350px;
    font-family: Arial black;
    font-size: 60px;
    cursor: pointer;
}
.menu {
    height: 100px;
    width: 0px;
    background-color: #ffc200;
    display: flex;
    position: absolute;
    left: -50%;
    cursor: pointer;

    transition: all .5s;
}
.rotate {
    pointer-events: none;
}
#menuSection ul li:hover .menu{
    width: 350px;
}
#openMenu,#closeMenu {
    border-radius: 5px;
    height: 110px;
    width: 100px;
    background-color: darkslategray;
    position: fixed;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    z-index: 999;
    cursor: pointer;
}

#closeMenu:hover {
    background-color: #ffc200;
}
#openMenu:hover {
    background-color: red;
}




#closeMenu {
    left: 100%;
}
#button{
    font-size: 12px;
    margin-top: 5%;
    color:#f7f7f7;
    font-family: verdana;
    width: 200px;
    padding: 15px;
    border: 2px solid #f7f7f7;
    text-align: center;


    transform: translate(-0%,-10%);
    overflow: hidden;
    transition: .5s;
}
#button:after{
    content: '';
    width: 0px;
    height: 120%;
    position: absolute;
    left: -10%;
    bottom: 0;
    background-color: #f7f7f7;
    transform: skewX(15deg);
    z-index: -1;
    transition: .5s;
}
#button:hover{
    cursor: pointer;
    color:#5bcaff;
}
#button:hover:after{
    left: -10%;
    width: 120%;
}
#social {
    position: absolute;
    top: 70%;
    left: 27%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    display: flex;

}
#social li {
    list-style: none;
}
#social li a {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    text-align: center;

    text-decoration: none;
    color: #262626;
    margin: 0 10px;
    transition: .5s;
}
#social li a span {
    position: absolute;
    transition: transform .5s;

}
#social li a span:nth-child(1),
#social li a span:nth-child(3)
{
    width: 100%;
    height: 1px;
    background: #262626;
}
#social li a span:nth-child(1)
{
    top: 0;
    left: 0;
    transform-origin: right;
}
#social li a:hover span:nth-child(1)
{
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}
#social li a span:nth-child(3)
{
    bottom: 0;
    left: 0;
    transform-origin: left;
}
#social li a:hover span:nth-child(3)
{
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}






#social li a span:nth-child(2),
#social li a span:nth-child(4)
{
    width: 1px;
    height: 100%;
    background: #262626;
}
#social li a span:nth-child(2)
 {
     top: 0;
     left: 0;
     transform: scaleY(0);
     transform-origin: bottom;
 }
#social li a:hover span:nth-child(2)
{
    transform: scaleY(1);
    transform-origin: top;
    transition: transform .5s;
}




#social li a span:nth-child(4)
{
    top: 0;
    right: 0;
    transform: scaleY(0);
    transform-origin: top;
}
#social li a:hover span:nth-child(4)
{
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform .5s;
}




    /* *********About*******/

.landing1 {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("../img/kop.jpg");
    background-position: right;





    box-shadow: 1px 3px 8px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 1px 3px 8px rgba(0, 0, 0, .3);
    -moz-box-shadow: 1px 3px 8px rgba(0, 0, 0, .3);
    overflow: hidden;
}
.landing1 .clipped1 .intro1 h1{

    font-size: 35px;




}


.clipped1 {
    width: 100%;
    height: 100vh;
    background-color: gold;
    position: absolute;
    clip-path: polygon(0 0, 50% 0%, 70% 100%, 0% 100%, 75% 100%, 0 100%, 0% 75%);
    overflow: hidden;
    opacity: 0.9;
}

.clipped1 .intro1 {
    position: absolute;
    top: 50%;
    left: 20%;
    opacity: 0.90;
    -webkit-transform: translate(-20%, -50%);
    -moz-transform: translate(-20%, -50%);
    -ms-transform: translate(-20%, -50%);
    -o-transform: translate(-20%, -50%);
    transform: translate(-20%, -50%);
    font-size: 10px;
}


////
#main1  {
    height: 100vh;
    width: 100%;
    position: absolute;
    overflow: hidden;

}

#msg{
    font-family: fantasy;
    font-size: 5em;
    color: black;
    line-height: 70px;
    position: absolute;
    top:40%;
    left: 10%;
}
#msg1 {
    font-family: fantasy;
    font-size: 2em;
    color: black;
    line-height: 50px;
    position: absolute;
    top:60%;
    left: 10%;

}

.block{
    width: 310px;
    height: 210px;
    background-color: darkslategray;
    position: absolute;
    transform: rotateX(55deg) rotateY(0deg) rotateZ(45deg);
    box-shadow: 13px 12px 15px -5px rgba(0,0,0,.3);
    cursor: pointer;
}
.block img{
    width: 310px;
    height: 210px;
    transition: all .3s;
}
.block:hover img{
    transform: translate(-3%,-3%);
}
.b1{
    top:-9%;
    right: -7%;
}
.b2{
    top:6%;
    right: 5%;
}
.b3{
    top:21%;
    right: 17%;
}
.b4{
    top:36%;
    right: 29%;
}
.b5{
    top:51%;
    right: 41%;
}
.b6{
    top:20%;
    right: -18%;
}
.b7{
    top:35%;
    right: -6%;
}
.b8{
    top:50%;
    right: 6%;
}
.b9{
    top:65%;
    right: 18%;
}
.b10{
    top:65%;
    right: -17%;
}
.b11{
    top:79%;
    right: -5%;
}
#btn{
    position: absolute;
    font-size: 18px;
    line-height: 20px;

    top: 70%;
    left: 10%;
    color: #5bcaff;
    font-family: verdana;
    width: 200px;
    padding: 15px;
    border: 2px solid black;
    text-align: center;


    transform: translate(-0%,-10%);
    overflow: hidden;
    transition: .5s;
}
#btn:after{
    content: '';
    width: 0px;
    height: 120%;
    position: absolute;
    left: -10%;
    bottom: 0;
    background-color: gold;
    transform: skewX(15deg);
    z-index: -1;
    transition: .5s;
}
#btn:hover{
    cursor: pointer;
    color:#5bcaff;
}
#btn:hover:after{
    left: -10%;
    width: 120%;
}

#btn1{
    position: absolute;
    font-size: 18px;

    line-height: 20px;
    position: absolute;
    top: 70%;
    left: 25%;
    color: #5bcaff;
    font-family: verdana;
    width: 200px;
    padding: 15px;
    border: 2px solid black;
    text-align: center;


    transform: translate(-0%,-10%);
    overflow: hidden;
    transition: .5s;
}
#btn1:after{
    content: '';
    width: 0px;
    height: 120%;
    position: absolute;
    left: -10%;
    bottom: 0;
    background-color: gold;
    transform: skewX(15deg);
    z-index: -1;
    transition: .5s;
}
#btn1:hover{
    cursor: pointer;
    color:#5bcaff;
}
#btn1:hover:after{
    left: -10%;
    width: 120%;
}
.Contact-title {
    position: absolute;

    margin-left: 38%;
    margin-top: 200px;
    text-transform: uppercase;
    transition: all 4s ease-in-out;


}
.Contact-title h1 {
    font-family: fantasy;
    font-size: 42px;
    line-height: 40px;
    text-align: center;

}
.Contact-title h2 {
    font-family: fantasy;
    font-size: 22px;


}
form {
    position: absolute;
    transition: all 4s  ease-in-out;

    margin-top: 300px;
    margin-left: 28%;
}

.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    color: black;
    font-family: fantasy;
    font-size: 18px;
    margin-bottom: 16px;
}
input {
    height: 50px;
}
form .submit {
    background-color: gold;
    border-color: transparent;
    color: black;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}
form .submit:hover{
    background-color: red;
    cursor: pointer;
}










